<app-header titulo="Creacion de fichas"></app-header>

<ion-content class="ion-padding">
    <ion-list lines="full">
        <ion-item *ngIf="todo">
          <ion-input required type="text" placeholder="actividad" [(ngModel)]="todo.actividad"></ion-input>
        </ion-item>
        <ion-item *ngIf="todo">
            <ion-input required type="date" placeholder="Priority"
                        [(ngModel)]="todo.fecha"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveTodo()">Save</ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
    </ion-fab>
</ion-content>