<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button text="Cerrar Sesion" defaultHref="/"></ion-back-button> 
    </ion-buttons>
    <ion-title>Gestion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Botones para navegar --> 
    <ion-button class="top-20" expand="full" routerLink="/listado" color="tertiary"> 
      Listado 
    </ion-button>
    <!-- ion-row + ion-col -->
  <ion-row class="top-20">
    <ion-col>
    <ion-button expand="full" routerLink="/creacion" shape="round" color="tertiary">
    Creacion de fichas
    </ion-button>
    </ion-col>
    <ion-col>
    <ion-button expand="full" routerLink="/asistencia" shape="round" color="tertiary">
    Asistencia
    </ion-button>
    </ion-col>
    </ion-row>
</ion-content>
