<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Cerrar Sesion" defaultHref="/"></ion-back-button> 
    </ion-buttons>
    <ion-title>Gestion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-list>
      <ion-card *ngFor="let c of componentes"
      [routerLink]="c.redirectTo" detail>
       <ion-card-header>
        <ion-card-title>{{ c.name }}</ion-card-title>
         <ion-img src="{{ c.imagen }}" style="height: auto; max-width: 15vh;"></ion-img>
       </ion-card-header>
       
      </ion-card>
   </ion-list>

</ion-content>
