<app-header titulo="Gestion de asistencia"></app-header>

<ion-content>
    
    <div *ngFor="let btn of btnArray;let ind = index">
        <button ion-button [style.background-color]="btn.backgroudColor" (click)="btnActivate(ind)">{{btn.title}}</button>
    </div>

    <ion-button style="--background:green"(click)= "addFaltaJust()" >Añadir falta justificada</ion-button>
    <ion-button style="--background:red" (click)= "addFaltaInjust()">Añadir falta injustificada</ion-button>


    <calendar 
    [weekviewNormalEventTemplate]="template2"
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30">
    
</calendar>

</ion-content>
